@mixin opacityAndTransform($opacityValue, $transformValue) {
    opacity: $opacityValue;
    transform: $transformValue;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}