/* By default let's eliminate any margin and padding from all elements */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px;  actually a bad practice, because the user cannot change the browser default font-size*/
    
    font-size: 62.5%; /* 10px when default font-size is 16px */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}
